@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradientHero {
  background: linear-gradient(180deg, rgba(46, 46, 46, 0.4) 0%, #2E2E2E 100%);
}

.gradient {
  background: linear-gradient(360deg, rgba(46, 46, 46, 0.2) 0%, #2E2E2E 100%);
}